#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #974b1f;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #CBC9C7;
    font-family: 'papyrus', Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h2 .margin_0 {
    margin: 0;
}

header {
    background-color: #33673B;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 35px;
}

nav a:hover {
    background-color: #163d1f;
    color: white;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    color: white;
}

section #hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.book {
    background-color: #33673B;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #163d1f;
    color: white;
}

.join {
    background-color: #33673B;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #163d1f;
    color: white;
}

.msg {
    background-color: #9c9995;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: black;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #33673B;
    color: black;
    padding: 25px 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: black;
    font-size: 2em;
    margin-top: 10px;
}

h4 {

}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: scale(1.1);
    border-radius: 5%;
}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
    width: 100%;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers_img {
    max-width: 100%;
    justify-self: center;
    border-radius: 5%;
    border: 10px black solid;
    margin-top: 2em;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
}

main p {
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: .3em;
}

h2 {
    /* padding-top: 2em; */
    text-align: center;
}

.rivers_book {
    margin-top: 2em;
    margin-bottom: 2em;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}