/* * {
    box-sizing: border-box;
    border: 1px black solid;
} */

body {
    margin: 0 auto;
    max-width: 800px;
    
}

#logo_link img {
    max-width: 70px;
}

header {
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
    /* justify-items: center; */
    font-size: 2em;
}

.nav_buttons {
    max-width: 250px;
    max-height: 250px;
}

.scale {
    max-height: 66px;
}

.product_pics img {
    max-width: 200px;
}