* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 720px;
    background-color: #1a1a13;
    color: #b69941;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo_link img {
    max-width: 70px;
}

header {
    display: grid;
    grid-template-columns: 80px repeat(3, auto) auto;
    align-items: center;
    font-size: 1.3em;
    background-color: #2c0808d7;
    margin-bottom: .8em;
    border-radius: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    max-width: 100%;
}

nav a:hover {
    background-color: #b69941;
    border-radius: 10%;
}

.nav_buttons {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 8%;
}

.scale {
    max-height: 66px;
}

.product_pics img {
    max-width: 200px;
}

.background {
    width: 100%;
    height: 66px;
    opacity: 0.5;
    border-radius: 10%;
}

#title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    /* background-color: #2c0808d7; */
}

.title {
    position: absolute;
    font-size: 2.6em;
    color: rgb(231, 230, 220);
    z-index: 1;
}

main {
    padding: 1em;
}

#home_page_main div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

div a {
    color: white;
    padding: .5em;
    text-decoration: none;
}
div a:hover {
    background-color: #b69941;
    border-radius: 10%;
}

footer {
    background-color: #2c0808d7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-radius: 5%;
}

footer p {
    grid-column: 1/3;
}

.plan_link {
    grid-column: 1/3;
}

footer a img {
    border-radius: 10%;
    max-width: 50px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

#product_pics img {
    max-height: 170px;
    border-radius: 10%;
    margin: .2em;
    border: 5px #b69941 solid;
}

#product_pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}