/* can put the first three on everything, especially the first one */
* {
    box-sizing: border-box;
}

body {
    margin: 0 ;
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    max-width: 100%;
}

.post > img {
    width: 100%;
}

.post_heading {
    text-align: center;
}

.post_heading > p {
    color: rgb(46, 68, 167);
    margin-bottom: .1em;
    font-size: .8em;
}

h2 {
    margin-top: 0;
}

.main_text > p {
    padding-left: 1em;
    padding-right: 1em;
}

.post_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(29, 29, 73);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: .8em;
    padding: .5em;
}

.post_footer > p {
    border-right: 1px white solid;
    margin: 0;
    padding: .5em;
}

.post_footer span {
    font-size: .8em;
}